<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Youtube converter</title>
  </head>
  <body>
    <h1 class="index--heading">
      <!-- <i class="fa-brands fa-youtube"></i> -->Youtube to MP3
    </h1>
    <div class="main--wrapper">
      <div class="top--containter">
        <form action="/convert-mp3" method="POST" class="input--form">
          <label for="videoLink" class="input--label">Enter video link</label>
          <div class="input--fields">
            <input
              type="text"
              name="videoLink"
              placeholder="Link here"
              class="input--field"
            />
            <button type="submit" class="convert--btn">Convert</button>
          </div>
        </form>
      </div>
      <div class="bottom--container">
        <!-- prettier-ignore -->
        <% if(typeof success != "undefined" && success) { %>
        <div class="success">
          <p><%= songTitle %></p>
          <a href="<%= songLink %>" class="download--btn">Download</a>
        </div>
        <!-- prettier-ignore -->
        <% } else if(typeof success != "undefined" && !success) { %>
        <div class="errors">
          <p><%= errMessage %></p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
